http_interactions:
- request:
    method: get
    uri: http://opencitations.net/index/coci/api/v1/citations/10.1108/jd-12-2013-0166
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(citecorp/0.2.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |-
        [
            {
                "author_sc": "no",
                "timespan": "P1Y4M1D",
                "oci": "020010107073600090601000000060105060106040500-0200101000836191363010263020001036300010606",
                "citing": "10.1177/0961000615616450",
                "journal_sc": "no",
                "cited": "10.1108/jd-12-2013-0166",
                "creation": "2016-07-10"
            },
            {
                "author_sc": "no",
                "timespan": "P2Y11M20D",
                "oci": "02007050504361421181514370302080202-0200101000836191363010263020001036300010606",
                "citing": "10.7554/elife.32822",
                "journal_sc": "no",
                "cited": "10.1108/jd-12-2013-0166",
                "creation": "2018-03-01"
            },
            {
                "author_sc": "no",
                "timespan": "P2Y"[...]
