http_interactions:
- request:
    method: get
    uri: http://opencitations.net/index/coci/api/v1/references/10.1108/jd-12-2013-0166
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(citecorp/0.2.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |-
        [
            {
                "author_sc": "no",
                "timespan": "P9Y2M5D",
                "oci": "0200101000836191363010263020001036300010606-020010000013619102210370209053701370900",
                "citing": "10.1108/jd-12-2013-0166",
                "journal_sc": "no",
                "cited": "10.1001/jama.295.1.90",
                "creation": "2015-03-09"
            },
            {
                "author_sc": "no",
                "timespan": "P41Y8M",
                "oci": "0200101000836191363010263020001036300010606-02001000002361028183704060300020400040006",
                "citing": "10.1108/jd-12-2013-0166",
                "journal_sc": "no",
                "cited": "10.1002/asi.4630240406",
                "creation": "2015-03-09"
            },
            {
                "author_sc": "no",
                "timespan":[...]
