http_interactions:
- request:
    method: get
    uri: http://opencitations.net/index/coci/api/v1/citation/06180334099-06101759895
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(citecorp/0.3.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: |-
        [
            {
                "timespan": "P1Y10M10D",
                "citing": "10.1108/jd-12-2013-0166",
                "creation": "2015-03-09",
                "oci": "06180334099-06101759895",
                "author_sc": "no",
                "journal_sc": "no",
                "cited": "10.5539/ass.v9n5p18"
            }
        ]
  recorded_at: 2024-10-17 16:13:35 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
[...]
