http_interactions:
- request:
    method: get
    uri: http://opencitations.net/index/coci/api/v1/citation/02001010806360107050663080702026306630509-0200101080636102704000806
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(citecorp/0.2.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |-
        [
            {
                "author_sc": "no",
                "timespan": "P1Y",
                "oci": "02001010806360107050663080702026306630509-0200101080636102704000806",
                "citing": "10.1186/1756-8722-6-59",
                "journal_sc": "no",
                "cited": "10.1186/ar4086",
                "creation": "2013"
            }
        ]
  recorded_at: 2019-12-09 16:14:09 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
