http_interactions:
- request:
    method: get
    uri: http://opencitations.net/index/coci/api/v1/citations/10.1108/jd-12-2013-0166
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(citecorp/0.2.2.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |-
        [
            {
                "cited": "10.1108/jd-12-2013-0166",
                "timespan": "P3Y",
                "citing": "10.1145/3197026.3197050",
                "journal_sc": "no",
                "creation": "2018",
                "oci": "0200101040536030109070002063703010907000500-0200101000836191363010263020001036300010606",
                "author_sc": "no"
            },
            {
                "cited": "10.1108/jd-12-2013-0166",
                "timespan": "P2Y5M",
                "citing": "10.1057/s41275-017-0070-x",
                "journal_sc": "no",
                "creation": "2017-08",
                "oci": "02001000507362804010207056300010763000007006333-0200101000836191363010263020001036300010606",
                "author_sc": "no"
            },
            {
                "cited": "10.1108/jd-12-2013-0166",
             [...]
