http_interactions:
- request:
    method: get
    uri: http://opencitations.net/index/coci/api/v1/metadata/10.1108/jd-12-2013-0166
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(citecorp/0.2.2.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: |-
        [
            {
                "issue": "2",
                "oa_link": "http://pdfs.semanticscholar.org/2c8d/5fc54717f4e910d1dedea622d1ffbb14333a.pdf",
                "citation_count": "20",
                "author": "Peroni, Silvio; Dutton, Alexander; Gray, Tanya; Shotton, David",
                "source_title": "Journal Of Documentation",
                "citation": "10.1145/3197026.3197050; 10.1057/s41275-017-0070-x; 10.3233/ds-190016; 10.3233/ds-190019; 10.3233/sw-160224; 10.3233/sw-180307; 10.1142/s021964921850034x; 10.7554/elife.32822; 10.3346/jkms.2015.30.11.1545; 10.1007/978-3-319-90548-8_7; 10.1093/bib/bbx057; 10.1007/978-3-319-58694-6_23; 10.1186/s12859-019-2607-x; 10.1007/978-3-030-00668-6_21; 10.1007/978-3-030-01379-0_9; 10.1007/978-3-319-17966-7_10; 10.1007/978-3-319-68204-4_19; 10.1007/978-3-319-73165-0_24; 10.1101/108480; 10.1177/0961000615616450",
                "source_id": "issn:0022-0418",
                "volume": "71",
                "year": "2015",
                "page": "253-277",
                "doi": "10.1108/jd-12-2013-0166",
                "reference": "10.1001/jama.295.1.90; 10.1002/asi.4630240406; 10.1002/(sici)1097-4571(198909)40:5<342::aid-asi7>3.0.co;2-u; 10.1007/bf02457980; 10.1007/s10579-012-9211-2; 10.1007/s11192-009-0021-2; 10.1016/j.websem.2012.08.001; 10.1016/j.websem.2013.05.001; 10.1023/a:1021919228368; 10.1038/35079151; 10.1038/493159a; 10.1038/495437a; 10.1038/502295a; 10.1038/502298a; 10.1042/bj20091474; 10.1073/pnas.0407743101; 10.1087/2009202; 10.1101/sqb.1972.036.01.015; 10.1108/eum0000000007123; 10.1108/jd-07-2012-0082; 10.1126/science.149.3683.510; 10.1136/bmj.a568; 10.1136/bmj.b2680; 10.1145/1498765.1498780; 10.1177/030631277400400102; 10.1177/030631277500500106; 10.1371/journal.pcbi.0010034; 10.1371/journal.pcbi.1000361; 10.1371/journal.pntd.0000228; 10.1371/journal.pone.0000308; 10.1523/jneurosci.0003-08.2008; 10.1525/bio.2010.60.5.2; 10.3115/1610075.1610091; 10.5210/fm.v2i4.522; 10.5539/ass.v9n5p18; 10.5860/crln.73.10.8846; 10.7717/peerj.175",
                "title": "Setting Our Bibliographic References Free: Towards Open Citation Data"
            }
        ]
  recorded_at: 2020-04-08 16:28:38 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
