http_interactions:
- request:
    method: get
    uri: http://opencitations.net/sparql?query=PREFIX%20datacite%3A%20%3Chttp%3A%2F%2Fpurl.org%2Fspar%2Fdatacite%2F%3E%0A%20%20PREFIX%20literal%3A%20%3Chttp%3A%2F%2Fwww.essepuntato.it%2F2010%2F06%2Fliteralreification%2F%3E%0A%20%20SELECT%20%3Fpaper%20%3Fdoi%20%3Fpmcid%20%3Fvalue%0A%20%20WHERE%20%7B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%3Fpaper%20datacite%3AhasIdentifier%20%5B%0A%20%20%20%20%20%20%20%20%20%20datacite%3AusesIdentifierScheme%20datacite%3Apmid%20%3B%0A%20%20%20%20%20%20%20%20%20%20literal%3AhasLiteralValue%20%3Fvalue%0A%20%20%20%20%20%20%5D%20.%0A%0A%20%20%20%20%20%20OPTIONAL%20%7B%0A%20%20%20%20%20%20%20%20%3Fpaper%20datacite%3AhasIdentifier%20%5B%0A%20%20%20%20%20%20%20%20%20%20datacite%3AusesIdentifierScheme%20datacite%3Adoi%20%3B%0A%20%20%20%20%20%20%20%20%20%20literal%3AhasLiteralValue%20%3Fdoi%0A%20%20%20%20%20%20%20%20%5D%20.%0A%20%20%20%20%20%20%7D%0A%0A%20%20%20%20%20%20OPTIONAL%20%7B%0A%20%20%20%20%20%20%20%20%3Fpaper%20datacite%3AhasIdentifier%20%5B%0A%20%20%20%20%20%20%20%20%20%20datacite%3AusesIdentifierScheme%20datacite%3Apmcid%20%3B%0A%20%20%20%20%20%20%20%20%20%20literal%3AhasLiteralValue%20%3Fpmcid%0A%20%20%20%20%20%20%20%20%5D%20.%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%20.%0A%20%20%20%20VALUES%20%3Fvalue%20%7B%20%2226645990%22%20%7D%0A%20%20%7D&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(citecorp/0.2.2)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/sparql-results+json
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "head" : {
            "vars" : [ "paper", "doi", "pmcid", "value" ]
          },
          "results" : {
            "bindings" : [ {
              "value" : {
                "type" : "literal",
                "value" : "26645990"
              },
              "paper" : {
                "type" : "uri",
                "value" : "https://w3id.org/oc/corpus/br/1"
              },
              "doi" : {
                "type" : "literal",
                "value" : "10.1097/igc.0000000000000609"
              },
              "pmcid" : {
                "type" : "literal",
                "value" : "PMC4679344"
              }
            } ]
          }
        }
  recorded_at: 2019-12-09 16:15:06 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
