http_interactions:
- request:
    method: get
    uri: http://opencitations.net/meta/sparql?query=PREFIX%20datacite%3A%20%3Chttp%3A%2F%2Fpurl.org%2Fspar%2Fdatacite%2F%3E%0A%20%20PREFIX%20literal%3A%20%3Chttp%3A%2F%2Fwww.essepuntato.it%2F2010%2F06%2Fliteralreification%2F%3E%0A%20%20SELECT%20%3Fpaper%20%3Fdoi%20%3Fpmcid%20%3Fvalue%0A%20%20WHERE%20%7B%0A%20%20%20%20%7B%0A%20%20%20%20%20%20%3Fpaper%20datacite%3AhasIdentifier%20%5B%0A%20%20%20%20%20%20%20%20%20%20datacite%3AusesIdentifierScheme%20datacite%3Apmid%20%3B%0A%20%20%20%20%20%20%20%20%20%20literal%3AhasLiteralValue%20%3Fvalue%0A%20%20%20%20%20%20%5D%20.%0A%0A%20%20%20%20%20%20OPTIONAL%20%7B%0A%20%20%20%20%20%20%20%20%3Fpaper%20datacite%3AhasIdentifier%20%5B%0A%20%20%20%20%20%20%20%20%20%20datacite%3AusesIdentifierScheme%20datacite%3Adoi%20%3B%0A%20%20%20%20%20%20%20%20%20%20literal%3AhasLiteralValue%20%3Fdoi%0A%20%20%20%20%20%20%20%20%5D%20.%0A%20%20%20%20%20%20%7D%0A%0A%20%20%20%20%20%20OPTIONAL%20%7B%0A%20%20%20%20%20%20%20%20%3Fpaper%20datacite%3AhasIdentifier%20%5B%0A%20%20%20%20%20%20%20%20%20%20datacite%3AusesIdentifierScheme%20datacite%3Apmcid%20%3B%0A%20%20%20%20%20%20%20%20%20%20literal%3AhasLiteralValue%20%3Fpmcid%0A%20%20%20%20%20%20%20%20%5D%20.%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%7D%20.%0A%20%20%20%20VALUES%20%3Fvalue%20%7B%20%2231857888%22%20%7D%0A%20%20%7D&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(citecorp/0.3.0.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/sparql-results+json
    body:
      encoding: ''
      file: no
      string: "\n{ \"head\": { \"link\": [], \"vars\": [\"paper\", \"doi\", \"pmcid\",
        \"value\"] },\n  \"results\": { \"distinct\": false, \"ordered\": true, \"bindings\":
        [\n    { \"paper\": { \"type\": \"uri\", \"value\": \"https://w3id.org/oc/meta/br/061103888040\"
        }\t, \"doi\": { \"type\": \"literal\", \"value\": \"10.1039/c9sc00991d\" }\t,
        \"pmcid\": { \"type\": \"literal\", \"value\": \"PMC6422012\" }\t, \"value\":
        { \"type\": \"literal\", \"value\": \"31857888\" }},\n    { \"paper\": { \"type\":
        \"uri\", \"value\": \"https://w3id.org/oc/meta/br/061103888040\" }\t, \"doi\":
        { \"type\": \"literal\", \"value\": \"10.1039/c9sc02702e\" }\t, \"pmcid\":
        { \"type\": \"literal\", \"value\": \"PMC6422012\" }\t, \"value\": { \"type\":
        \"literal\", \"value\": \"31857888\" }} ] } }"
  recorded_at: 2024-10-18 09:39:40 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
